<div class="col-md-8">
    <div class="media">
        <div class="media-body">
            <h4 class="media-heading">
                <%= link_to wiki.title, wiki %>
            </h4>
            <small>
                created by <%= wiki.user.name %>
                <br>
                <%= wiki.body[0..150] %>...
            </small>
            <br><br>
        </div>
    </div>
</div>