<div class="list-item">
    <h4><%= link_to wiki.title, wiki %></h4>
    <small>
        <p>created by <%= wiki.user.name %></p>
        <p><%= @stripper.render(wiki.body[0..150]) %>...</p>
    </small>
</div>