<div class="container main form">
    <div class="col-md-8">
        <h2>Edit Space</h2>
        <p>Feel free to contribute to the collaboration space. This space offers markdown rendering.</p>
        <%= render partial: 'edit', locals: { wiki: @wiki } %>
    </div>
    <div class="col-md-4">
        <%= image_tag image_path("gears.jpg"), class: "medium-img" %>
    </div>
</div>